.comments {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: left;
  color: #333;
	font-size: 2rem;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

textarea {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 50px;
  resize: none;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
.comments a {
	color: black;
	text-decoration: none;
	cursor: pointer;
	font-size: 1rem;
}
.comments a:hover {
	color: black;
	text-decoration: underline;
	font-style: italic;
}
.comments a: visited {
	color: black;
	text-decoration: none;
}
.post-it-board {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 5px;
}

.post-it {
  display: inline-block;
  background-color: white;
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  position: relative; /* 삭제 버튼을 올바르게 배치하기 위해 */
  word-wrap: break-word;
  max-width: 200px;
  min-height: 50px;
}

.delete-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(255, 255, 255, 0);
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  padding: 2px 4px;
  font-size: 12px;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: black;
	color: white;
}
/*
.post-it::after {
  content: "";
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #white;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}/*
