
h1 {
  text-align: center;
  color: #333;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
	grid-row: 2;
	grid-column: 5 / span 6;  /* 8-10번째 칸에 걸쳐 배치 */
	width: 100%;
	height: 40px;
	padding-right: 5vw;
	padding-top: 0;
}
textarea {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 50px;
  resize: none;
	overflow: hidden;  /* 스크롤 숨기기 */
  word-wrap: break-word;  /* 긴 단어가 넘칠 경우 줄 바꿈 */
  white-space: normal;    /* 텍스트 줄 바꿈 허용 */
}
textarea::placeholder {
      color: #999;
      font-style: italic;
    }
button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: black;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}
/* 포스트잇 컨테이너 스타일 */
.post-it-board {
  display: flex;
	flex-flow: row wrap;
	padding-left: 4vw;
		padding-right: 3vw;
  gap: 1.5rem;
  grid-row: 3/16;
  grid-column: 1/11;
  overflow-y: auto; /* 포스트잇들이 넘칠 경우 스크롤 가능 */
  max-height: 80vh; /* 전체 포스트잇 목록이 차지하는 최대 높이 */
	overflow-y: auto; /* 포스트잇들이 넘칠 경우 스크롤 가능 */
	font-family: 'TranseptV01VF', 'Helvetica Neue', 'Noto Sans KR','ヒラギノ角ゴシック', sans-serif;
}

.post-it {
  position: relative; /* 삭제 버튼을 포스트잇 안에서 절대 위치로 설정하기 위해 필요 */
  display: flex;
  flex-direction: column; /* 글이 세로로 작성되도록 설정 */
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 8px;
  width: 100%; /* 가로 폭은 100%로 설정 */
  max-width: 20vw; /* 최대 너비를 설정 */
  padding: 1rem; /* 내부 여백 설정 */
  height: auto; /* 글 길이에 맞게 높이가 자동으로 조정되도록 설정 */
  padding-top: 3vh; /* 위쪽 여백을 3vh로 설정 */
  box-sizing: border-box; /* padding과 border가 크기 안에 포함되도록 설정 */
  word-wrap: break-word; /* 긴 글을 자동으로 줄바꿈 처리 */
  overflow-wrap: break-word; /* 추가적인 줄바꿈 처리 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
	font-family: "Helvetica Neue", "Noto Sans KR", sans-serif;
}

.delete-button {
   position: absolute; /* 포스트잇 내에서 절대 위치로 설정 */
    top: .5rem;  /* 포스트잇의 하단에서 1rem 여백 */
    right: .5rem;  /* 포스트잇의 오른쪽에서 1rem 여백 */
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: 6px;
	width: 6px;  /* 버튼의 너비를 설정 */
    height: 6px;  /* 버튼의 높이를 설정 */
}

.delete-button:hover {
	background-color: black;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	/*--tablet css--*/
	.post-it-board {
		flex-flow: row wrap;
		justify-content: flex-end;
		padding-left: 0vw;
		padding-right: 3vw;
	}
}
@media (max-width: 767px) {
	.input-section {
  grid-row: 3;
		margin-top: 2vh;
}
	/* 포스트잇 컨테이너 스타일 */
.post-it-board {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  grid-row: 4/15;
  grid-column: 1/11;
  overflow-y: auto; /* 포스트잇들이 넘칠 경우 스크롤 가능 */
  max-height: 75vh; /* 전체 포스트잇 목록이 차지하는 최대 높이 */
	overflow-y: auto; /* 포스트잇들이 넘칠 경우 스크롤 가능 */
	    padding-left: 0vw;
    padding-right: 4vw;
}

.post-it {
  position: relative; /* 삭제 버튼을 포스트잇 안에서 절대 위치로 설정하기 위해 필요 */
	display: flex;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 8px;
  width: 100%;  /* 가로 폭은 100%로 설정 */
  max-width: 100%; /* 최대 너비를 설정 */
  height: auto; /* 텍스트 길이에 맞춰 높이가 자동으로 늘어나도록 설정 */
  min-height: 10vh; /* 최소 높이는 10vh로 설정 */
  padding: 1rem; /* 내부 여백 설정 */
	padding-top: 3vh;
  box-sizing: border-box; /* padding과 border가 크기 안에 포함되도록 설정 */
  word-wrap: break-word; /* 긴 글을 자동으로 줄바꿈 처리 */
  overflow-wrap: break-word; /* 추가적인 줄바꿈 처리 */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
}
/*
.post-it::after {
  content: "";
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background-color: #white;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.1);
}/*

